.container {
    width: 1104px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    padding: 30px 4px;
    display: flex;
    flex-direction: column;
}

.hotelHeader {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 24%;
}

.imagesContainer {
    width: 74.5%;
}

.imagesWrapper {
    display: flex;
    flex-direction: column;
}

/* Images Header */

.imagesHeader {
    display: flex;
    justify-content: space-between;
}

.imagesHeaderInfo {
    margin-bottom: 10px;
}

.imagesHeaderInfo p {
    display: flex;
}

.imagesHeaderInfo svg {
    fill: #0077cc;
    font-size: 20px;
    margin-right: 2px;
}

.imagesHeaderInfo h3 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 7px;
}

.imagesHeaderInfo p {
    font-size: 14px;
    font-weight: 400;
    color: #262626;
}

.likeOrReserve {
    display: flex;
    align-items: center;
}

.like {
    margin-right: 10px;
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in;
}

.like:hover {
    background-color: #f0f7fb;
    transition: all 0.2s ease-in;
}

.like svg {
    transform: scale(1.6);
}

.headerReserve {
    padding: 8px 16px;
    background-color: #0071c2;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.headerReserve:hover {
    background-color: #00487a;
    transition: all 0.2s ease-in;
}

/* Facilities */

.facility {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.facilityName {
    width: 150px;
    text-align: center;
    margin: 8px 4px;
    color: #fff;
    border-radius: 3px;
    background-color: #0071c2;
    padding: 4px 0px 7px;
    font-size: 14px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
}

/* Hote Info */

.hotelInfo {
    display: flex;
    color: #262626;
    padding: 20px 0px;
}

.bookContainer {
    padding: 20px 0px 0px 20px;
}

.book {
    width: 300px;
    padding: 15px;
    background-color: #ebf3ff;
}

.book h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.book h4 {
    margin-bottom: 5px;
}

.book div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.book div svg {
    margin-right: 10px;
}

.book div span {
    font-size: 13px;
    font-weight: 400;
}

.reserveBtn {
    width: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    border-radius: 3px;
    padding: 8px 16px;
    color: #fff;
    background-color: #0071c2;
    transition: all 0.2s ease-in;
}

.reserveBtn:hover {
    background-color: #00487a;
    transition: all 0.2s ease-in;
}

/* Reviews */

.reviewsContainer,
.qnaContainer {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.reviewsHeader,
.qnaHeader {
    display: flex;
    flex-direction: column;
}

.reviewsHeader h2 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
}

.reviewScore {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background-color: #003580;
    color: #fff;
    border-radius: 4px;
    border-radius: 6px 6px 6px 0;
}

.rateName,
.reviewCount {
    font-size: 16px;
    font-weight: 500;
    color: #262626;
}

.reviewCount {
    color: #6b6b6b;
    margin-left: 15px;
}

.reviewCards h3 {
    font-size: 15px;
    font-weight: 700;
    color: #262626;
    margin: 10px 0px ;
}

.qnaHeader h2 {
    font-size: 24px;
    font-weight: 700;
    color: #262626;
    margin-bottom: 8px;
}

.qnaContainer {
    padding-top: 30px;
}

.qnaHeader p {
    font-size: 14px;
    color: #6b6b6b;
    margin-bottom: 25px;
}

.qnaContainer p span {
    color: #008009;
}

.readMore {
    display: none;
}

/* Responsive */

@media (max-width: 500px) {
    .container {
        width: 100%;
    }

    .wrapper {
        padding: 15px 0px 30px;
    }

    .sidebar {
        display: none;
    }

    .imagesWrapper {
        overflow-x: scroll;
    }

    .imagesContainer {
        width: 100%;
    }

    .hotelHeader {
        overflow: hidden;
    }

    .facility {
        flex-wrap: wrap;
        padding-top: 10px;
    }

    .facilityName {
        margin: 4px 4px;
    }

    .imagesHeader {
        padding: 0px 10px 10px;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .imagesHeaderInfo h3 {
        font-size: 22px;
        font-weight: 700;
    }

    .imagesHeaderInfo p svg {
        display: none;
    }

    .headerReserve {
        display: none;
    }

    .like {
        position: absolute;
        top: 10px;
        right: 0;
        padding: 0px;
        background-color: transparent;
    }

    .like svg {
        transform: scale(1.4);
    }

    .hotelInfo {
        flex-direction: column;
        padding: 20px 10px;
    }

    .reviewsContainer {
        padding: 10px 0px;
    }

    .reviewsHeader {
        padding: 0px 10px;
    }

    .reviewsHeader h2 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .qnaContainer {
        padding: 10px 0px;
    }

    .qnaHeader {
        padding: 0px 10px;
    }

    .qnaHeader h2 {
        font-size: 20px;
    }

    .qnaHeader p {
        margin-bottom: 15px;
    }

    .bookContainer {
        padding: 20px 0px;
    }

    .book {
        width: 100%;
        text-align: center;
    }

    .book h3 {
        display: none;
    }

    .book div {
        margin-bottom: 15px;
        display: block;
    }

    .book div svg {
        display: none;
    }

    .imageGridWrapper {
        overflow-x: auto;
    }
}
