.portal {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
}

.portal.open {
    display: flex;
    opacity: 1;
}

.portal.close {
    display: none;
    opacity: 0;
}
